.statusText {
  padding-top: 10px;
  padding-bottom: 10px;
}

.refreshDivider {
  padding-top: 10px;
}

.tickerViewError {
  text-align: center;
  padding-bottom: 10px;
}

.tickerViewHeader {
  text-align: center;
  padding-top: 10px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.patternTable {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.tickerContainer {
  display: flex
}

.chartLayout {
  flex-basis: 90%;
}

.candleInfo {
  text-align: center;
  padding-bottom: 10px;
}

.infoSidebar {
  display: flex;
}

.infoSidebarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteIcon {
  cursor: pointer;
}

.refreshInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}