.statusText {
  padding-top: 10px;
  padding-bottom: 10px;
}

.refreshDivider {
  padding-top: 10px;
}

.tickerViewHeader {
  text-align: center;
  padding-top: 10px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.patternTable {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.tickerContainer {
  display: flex
}

.chartLayout {
  flex-basis: 90%;
}

.candleInfo {
  text-align: center;
  padding-bottom: 10px;
}

.infoSidebar {
  display: flex;
}

.refreshInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}